# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Extra
*.Po
Makefile
Makefile.in
config.log
config.status
config.sub
config.guess
autom4te.cache/*
TAGS
tags
src/results/*
m2s
test
configure
aclocal.m4
*.ipc
benchmarks
*~
*.bak
*.swp
*.c.*
*.h.*
*.ghc
*.orig
*.out
*.pyc
.clang_complete
INSTALL
depcomp
install-sh
missing
.deps/
bin/
/m4/
compile
libtool
lex.c
parser.c
parser.h
../ltmain.sh
ylwrap
ltmain.sh
.ycm_extra_conf.py
